body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}
/*                        header section                  */
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 118px;
    justify-content: space-between;
    color: white;
    padding: 15px 0;
    
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8%;
}.logo:hover{
    cursor: pointer;
}
.nav-links{
    display: flex;
    list-style: none;
    margin-right: 8%;
    
}
.nav-links li{
    


    justify-content: space-evenly;margin: 20px;
}
.nav-links .link:hover{
    cursor: pointer;
    color: blue;

}
.btn{
    background-color: #00b894;
    padding: 8px 16px;
    border-radius: 5px;
}
.btn:hover{
    color:white;
    background-color: gray;
}
.nav-links .link{
    padding-top: 5px;
    
}